# D2 : Data Wrangling

In this week's workbook, you'll work through an example in this to gain practice on how to:
* read a DataFrame into Python
* wrangle the data
* clean the data

# Part I: Setup

Data wrangling often requires additional functionality outside what's included in Python by default. For this, we'll import other functions from helpful packages.

**Import the following packages using their common shortened name found in parentheses:**

* `numpy` (`np`)
* `pandas` (`pd`)

In [1]:
# YOUR CODE HERE
%matplotlib inline
import pandas as pd
import numpy as np

In [2]:
# Do not edit this cell. This cell is for testing purposes

**Run the following cell code to make things throughout the rest of this workbook a little prettier.** (Note: You don't have to edit code here, but are free to and see what changes to be sure you understand each line.)

In [3]:
# Configure libraries

# Don't display too many rows/cols of DataFrames
pd.options.display.max_rows = 7
pd.options.display.max_columns = 8

# Round decimals when displaying DataFrames
pd.set_option('display.precision', 2)

**Read the CSV file at the URL https://raw.githubusercontent.com/fivethirtyeight/data/master/steak-survey/steak-risk-survey.csv into Python in and assign it to the variable `survey`**.

In [4]:
# YOUR CODE HERE
survey = pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/steak-survey/steak-risk-survey.csv')

# take a look at the data
survey

,RespondentID,"Consider the following hypothetical situations: <br>In Lottery A, you have a 50% chance of success, with a payout of $100. <br>In Lottery B, you have a 90% chance of success, with a payout of $20. <br><br>Assuming you have $10 to bet, would you play Lottery A or Lottery B?",Do you ever smoke cigarettes?,Do you ever drink alcohol?,...,Age,Household Income,Education,Location (Census Region)
0,NaN,Response,Response,Response,...,Response,Response,Response,Response
1,3.24e+09,Lottery B,NaN,NaN,...,NaN,NaN,NaN,NaN
2,3.23e+09,Lottery A,No,Yes,...,> 60,"$50,000 - $99,999",Some college or Associate degree,East North Central
...,...,...,...,...,...,...,...,...,...
548,3.23e+09,Lottery A,Yes,Yes,...,30-44,"$50,000 - $99,999",Some college or Associate degree,South Atlantic
549,3.23e+09,Lottery A,No,Yes,...,45-60,"$50,000 - $99,999",Some college or Associate degree,Pacific
550,3.23e+09,Lottery B,Yes,Yes,...,18-29,"$0 - $24,999",NaN,Mountain

In [5]:
# Do not edit this cell. This cell is for testing purposes
### BEGIN TESTS
assert survey.shape == (551, 15)
### END TESTS

In [6]:
# Do not edit this cell. This cell is for testing purposes

These data contain survey responses from Americans who responded to a SurveyMonkey Audience poll. These data were used in the [FiveThirtyEight](https://fivethirtyeight.com) article: *[How Americans Like Their Steak](https://fivethirtyeight.com/features/how-americans-like-their-steak/)*

# Part II: Wrangling

**Write a line of code to look at the first few rows of the DataFrame**

In [7]:
# YOUR CODE HERE
survey.head(5)

,RespondentID,"Consider the following hypothetical situations: <br>In Lottery A, you have a 50% chance of success, with a payout of $100. <br>In Lottery B, you have a 90% chance of success, with a payout of $20. <br><br>Assuming you have $10 to bet, would you play Lottery A or Lottery B?",Do you ever smoke cigarettes?,Do you ever drink alcohol?,...,Age,Household Income,Education,Location (Census Region)
0,NaN,Response,Response,Response,...,Response,Response,Response,Response
1,3.24e+09,Lottery B,NaN,NaN,...,NaN,NaN,NaN,NaN
2,3.23e+09,Lottery A,No,Yes,...,> 60,"$50,000 - $99,999",Some college or Associate degree,East North Central
3,3.23e+09,Lottery A,No,Yes,...,> 60,"$150,000+",Graduate degree,South Atlantic
4,3.23e+09,Lottery B,Yes,Yes,...,> 60,"$50,000 - $99,999",Bachelor degree,New England

What do you notice about the first row of the dataframe? Notice that it's not actually an observation from a respondent? **Remove this row from the dataset. Assign this back to the variable `survey`. Print the first few rows again to make sure you've accomplished this.**

In [8]:
# YOUR CODE HERE
survey = survey.drop(labels=[0], axis='rows')
survey.head()

,RespondentID,"Consider the following hypothetical situations: <br>In Lottery A, you have a 50% chance of success, with a payout of $100. <br>In Lottery B, you have a 90% chance of success, with a payout of $20. <br><br>Assuming you have $10 to bet, would you play Lottery A or Lottery B?",Do you ever smoke cigarettes?,Do you ever drink alcohol?,...,Age,Household Income,Education,Location (Census Region)
1,3.24e+09,Lottery B,NaN,NaN,...,NaN,NaN,NaN,NaN
2,3.23e+09,Lottery A,No,Yes,...,> 60,"$50,000 - $99,999",Some college or Associate degree,East North Central
3,3.23e+09,Lottery A,No,Yes,...,> 60,"$150,000+",Graduate degree,South Atlantic
4,3.23e+09,Lottery B,Yes,Yes,...,> 60,"$50,000 - $99,999",Bachelor degree,New England
5,3.23e+09,Lottery B,No,Yes,...,> 60,"$50,000 - $99,999",Graduate degree,Middle Atlantic

In [9]:
# Do not edit this cell. This cell is for testing purposes
### BEGIN TESTS
assert survey.shape == (550, 15)
### END TESTS

In [10]:
# Do not edit this cell. This cell is for testing purposes

Notice that there are a lot of different questions that were asked of respondents (columns) and 550 people who responded to the survey (rows).

**Print a list of all the column names in this DataFrame.**

We'll only end up working with a subset of these.

In [11]:
# YOUR CODE HERE
print(survey.columns)

Index(['RespondentID',
       'Consider the following hypothetical situations: <br>In Lottery A, you have a 50% chance of success, with a payout of $100. <br>In Lottery B, you have a 90% chance of success, with a payout of $20. <br><br>Assuming you have $10 to bet, would you play Lottery A or Lottery B?',
       'Do you ever smoke cigarettes?', 'Do you ever drink alcohol?',
       'Do you ever gamble?', 'Have you ever been skydiving?',
       'Do you ever drive above the speed limit?',
       'Have you ever cheated on your significant other?', 'Do you eat steak?',
       'How do you like your steak prepared?', 'Gender', 'Age',
       'Household Income', 'Education', 'Location (Census Region)'],
      dtype='object')

Now we have a sense of what information is included in the dataset. In the coming weeks, we'll answer the following questions:
1. Who cheats more on their significant other - males or females?
2. Are cigarette smokers less likely to skydive?
3. Do people in New England gamble more than other parts of the country?

To answer these we'll only need data from *some* of the columns in the dataset.

Let's drop the columns we don't need. **Drop the first two columns from the dataset. This should still be assigned to the variable `survey`.**

In [12]:
# YOUR CODE HERE
survey = survey.drop(survey.columns[[0,1]], axis='columns')
survey

,Do you ever smoke cigarettes?,Do you ever drink alcohol?,Do you ever gamble?,Have you ever been skydiving?,...,Age,Household Income,Education,Location (Census Region)
1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN
2,No,Yes,No,No,...,> 60,"$50,000 - $99,999",Some college or Associate degree,East North Central
3,No,Yes,Yes,No,...,> 60,"$150,000+",Graduate degree,South Atlantic
...,...,...,...,...,...,...,...,...,...
548,Yes,Yes,Yes,No,...,30-44,"$50,000 - $99,999",Some college or Associate degree,South Atlantic
549,No,Yes,Yes,No,...,45-60,"$50,000 - $99,999",Some college or Associate degree,Pacific
550,Yes,Yes,Yes,No,...,18-29,"$0 - $24,999",NaN,Mountain

In [13]:
# Do not edit this cell. This cell is for testing purposes
### BEGIN TESTS
assert survey.shape == (550,13)
### END TESTS

In [14]:
# Do not edit this cell. This cell is for testing purposes

Now that we've got the columns we want, let's clean up those column names. **Rename the columns in `survey` so the appropriate columns have the following names:**

* smoking
* alcohol
* gambling
* skydiving
* speeding
* cheated
* steak
* steak_preference
* gender
* age
* income 
* education
* region

Note that a list has been provided here, with these names, so you don't have to type them all:

In [15]:
['smoking','alcohol','gambling',
 'skydiving','speeding', 'cheated',
 'steak', 'steak_preference','gender',
 'age', 'income', 'education', 'region']

['smoking',
 'alcohol',
 'gambling',
 'skydiving',
 'speeding',
 'cheated',
 'steak',
 'steak_preference',
 'gender',
 'age',
 'income',
 'education',
 'region']

In [16]:
['Do you ever smoke cigarettes?', 'Do you ever drink alcohol?',
       'Do you ever gamble?', 'Have you ever been skydiving?',
       'Do you ever drive above the speed limit?',
       'Have you ever cheated on your significant other?', 'Do you eat steak?',
       'How do you like your steak prepared?', 'Gender', 'Age',
       'Household Income', 'Education', 'Location (Census Region)']

['Do you ever smoke cigarettes?',
 'Do you ever drink alcohol?',
 'Do you ever gamble?',
 'Have you ever been skydiving?',
 'Do you ever drive above the speed limit?',
 'Have you ever cheated on your significant other?',
 'Do you eat steak?',
 'How do you like your steak prepared?',
 'Gender',
 'Age',
 'Household Income',
 'Education',
 'Location (Census Region)']

In [17]:
# YOUR CODE HERE
survey = survey.rename(columns={'Do you ever smoke cigarettes?':'smoking', 'Do you ever drink alcohol?':'alcohol', 'Do you ever gamble?':'gambling', 'Have you ever been skydiving?':'skydiving',
       'Do you ever drive above the speed limit?':'speeding',
       'Have you ever cheated on your significant other?':'cheated', 'Do you eat steak?':'steak',
       'How do you like your steak prepared?':'steak_preference', 'Gender':'gender', 'Age':'age',
       'Household Income':'income', 'Education':'education', 'Location (Census Region)':'region'})
print(survey.columns)

Index(['smoking', 'alcohol', 'gambling', 'skydiving', 'speeding', 'cheated',
       'steak', 'steak_preference', 'gender', 'age', 'income', 'education',
       'region'],
      dtype='object')

In [18]:
# Do not edit this cell. This cell is for testing purposes
### BEGIN TESTS
assert survey.shape == (550,13)
### END TESTS

In [19]:
# Do not edit this cell. This cell is for testing purposes

We're in pretty good shape now. **Print the first few rows of the `survey` DataFrame to see what the data look like at this point.**

In [20]:
survey.head()

,smoking,alcohol,gambling,skydiving,...,age,income,education,region
1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN
2,No,Yes,No,No,...,> 60,"$50,000 - $99,999",Some college or Associate degree,East North Central
3,No,Yes,Yes,No,...,> 60,"$150,000+",Graduate degree,South Atlantic
4,Yes,Yes,Yes,No,...,> 60,"$50,000 - $99,999",Bachelor degree,New England
5,No,Yes,No,No,...,> 60,"$50,000 - $99,999",Graduate degree,Middle Atlantic

# Part III: Cleaning

**Now that we've go the data we need, let's get a sense for how much missing data there is in this dataset by determining how many null-containing rows there are in `survey`. Assign this value to the variable `null_rows`.**

In [21]:
# YOUR CODE HERE
null_rows=survey.isnull().any(axis='columns').sum()
print(null_rows)

217

In [22]:
# Do not edit this cell. This cell is for testing purposes
### BEGIN TESTS
assert null_rows == 217
### END TESTS

Good to know that lots of people didn't answer every question. We'll keep that in mind as we work with this dataset.

Simply dropping missing observations is typically not good practice; however, in this case we'll drop observations that have missing data across the entire row, as these are individuals who didn't participate in the survey at all. **Remove rows where ALL the columns have missing data for that participant.**

Run the following line to print out the docstring of the `dropna` function which includes description of what this method does, parameters and default values, and some usage examples.

In [23]:
survey.dropna?

Signature:
survey.dropna(
    *,
    axis: 'Axis' = 0,
    how: 'AnyAll | lib.NoDefault' = <no_default>,
    thresh: 'int | lib.NoDefault' = <no_default>,
    subset: 'IndexLabel | None' = None,
    inplace: 'bool' = False,
    ignore_index: 'bool' = False,
) -> 'DataFrame | None'
Docstring:
Remove missing values.

See the :ref:`User Guide <missing_data>` for more on which values are
considered missing, and how to work with missing data.

Parameters
----------
axis : {0 or 'index', 1 or 'columns'}, default 0
    Determine if rows or columns which contain missing values are
    removed.

    * 0, or 'index' : Drop rows which contain missing values.
    * 1, or 'columns' : Drop columns which contain missing value.

    Only a single axis is allowed.

how : {'any', 'all'}, default 'any'
    Determine if row or column is removed from DataFrame, when we have
    at least one NA or all NA.

    * 'any' : If any NA values are present, drop that row or column.
    * 'all' : If all values are NA, drop that row or column.

thresh : int, optional
    Require that many non-NA values. Cannot be combined with how.
subset : column label or sequence of labels, optional
    Labels along other axis to consider, e.g. if you are dropping rows
    these would be a list of columns to include.
inplace : bool, default False
    Whether to modify the DataFrame rather than creating a new one.
ignore_index : bool, default ``False``
    If ``True``, the resulting axis will be labeled 0, 1, …, n - 1.

    .. versionadded:: 2.0.0

Returns
-------
DataFrame or None
    DataFrame with NA entries dropped from it or None if ``inplace=True``.

See Also
--------
DataFrame.isna: Indicate missing values.
DataFrame.notna : Indicate existing (non-missing) values.
DataFrame.fillna : Replace missing values.
Series.dropna : Drop missing values.
Index.dropna : Drop missing indices.

Examples
--------
>>> df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
...                    "toy": [np.nan, 'Batmobile', 'Bullwhip'],
...                    "born": [pd.NaT, pd.Timestamp("1940-04-25"),
...                             pd.NaT]})
>>> df
       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

Drop the rows where at least one element is missing.

>>> df.dropna()
     name        toy       born
1  Batman  Batmobile 1940-04-25

Drop the columns where at least one element is missing.

>>> df.dropna(axis='columns')
       name
0    Alfred
1    Batman
2  Catwoman

Drop the rows where all elements are missing.

>>> df.dropna(how='all')
       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

Keep only the rows with at least 2 non-NA values.

>>> df.dropna(thresh=2)
       name        toy       born
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

Define in which columns to look for missing values.

>>> df.dropna(subset=['name', 'toy'])
       name        toy       born
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT
File:      /opt/conda/lib/python3.11/site-packages/pandas/core/frame.py
Type:      method

In [24]:
# YOUR CODE HERE
survey = survey.dropna(how='all')

In [25]:
# Do not edit this cell. This cell is for testing purposes
### BEGIN TESTS
assert survey.shape == (541, 13)
### END TESTS

**Print the first few rows to remind yourself what the data look like at this point.**

In [26]:
# YOUR CODE HERE
print(survey.head())

  smoking alcohol gambling skydiving  ...    age             income  \
2      No     Yes       No        No  ...   > 60  $50,000 - $99,999
3      No     Yes      Yes        No  ...   > 60          $150,000+
4     Yes     Yes      Yes        No  ...   > 60  $50,000 - $99,999
5      No     Yes       No        No  ...   > 60  $50,000 - $99,999
6      No      No       No        No  ...  18-29       $0 - $24,999

                          education              region
2  Some college or Associate degree  East North Central
3                   Graduate degree      South Atlantic
4                   Bachelor degree         New England
5                   Graduate degree     Middle Atlantic
6  Some college or Associate degree  West South Central

[5 rows x 13 columns]

Note that the first row no longer has all missing data here. We've got a dataset we can work with now!

**Great work on this workbook! We'll continue to work with this dataset in section to answer our questions of interest. You can work on other parts of the class or help a classmate work through this - we always understand things best once we've had to explain them to someone else.**